:root { 
--gray_600:#6f6f6f; 
--white_A700_99:#ffffff99; 
--white_A700_66:#ffffff66; 
--gray_600_02:#7e7e7e; 
--white_A700_7e:#ffffff7e; 
--black_900_33:#00000033; 
--gray_500:#a6a6a6; 
--gray_600_01:#707070; 
--black_900:#000000; 
--gray_800:#3a3a3a; 
--gray_900:#202020; 
--white_A700:#ffffff; 
}